{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Contacto</title>
</head>
<body>
    <div>
    <h1>Contacto</h1>
    <p>Localización {{localizacion.direccion}}</p>
    <p>Telefóno  {{contacto.telefono}}</p>
    <p>Contacto {{contacto.email}}</p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d102341.78135704386!2d-4.449266900000008!3d36.718222000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd7259c44fdb212d%3A0x6025dc92c9ca32cf!2zTcOhbGFnYQ!5e0!3m2!1ses!2ses!4v1760637476190!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    <br>
    
    <a href="{% url 'index'%}">Volver al inicio</a>
    </div>
</body>
</html> 