{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Productos - El Dulce Enigma</title>
</head>
<body>
    <div>
    <h1>Productos de El Dulce Enigma</h1>

    {% for categoria in productos %}
    <h2>{{ categoria.categoria }}</h2>
    <ul>
        {% for item in categoria.items %}
        <li>
            <strong>{{ item.nombre }}</strong><br>
            {{ item.descripcion }} — <em>{{ item.precio }} €</em>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}

    <a href="{% url 'index'%}">Volver al inicio</a>
<footer>
  <p>© El Dulce Enigma — Productos.</p>
</footer>
</div>
</body>
</html>

